<div class="row" style="justify-content: center">
   <div style="padding: 1rem">
      <button type="submit" class="btn btn-info btn-lg" style="font-size: x-large; border-left-color: 5px" (click)="viewManagers()">View Managers</button>
   </div>
   <div style="padding: 1rem">
      <button type="submit" class="btn btn-info btn-lg" style="font-size: x-large; border-radius: 5px" (click)="viewEngineers()">View Engineers</button>
   </div>
   <div style="padding: 1rem">
      <button type="submit" class="btn btn-info btn-lg" style="font-size: x-large; border-radius: 5px" (click)="viewCustomers()">View Customers</button>
   </div>
   <div style="padding: 1rem">
      <button type="submit" class="btn btn-info btn-lg" style="font-size: x-large; border-radius: 5px" (click)="viewComplaints()">View Complaints</button>
   </div>
   <div style="padding: 1rem">
      <button type="submit" class="btn btn-info btn-lg" style="font-size: x-large; border-radius: 5px" (click)="viewFeedbacks()">View Feedbacks</button>
   </div>
</div>

<div *ngIf="anyButtonClicked" class="container" style="padding-left: 55px">
   <button (click)="closeAll()" class="btn btn-warning" style="font-size: x-large; border-radius: 5px">Close All</button><br />
</div>
<!-- ------------------------------------Managers------------------------------------ -->
<!-- view Managers -->
<div *ngIf="viewManagersStatus" class="container" style="width: 70%">
   <br /><br /><br />
   <div class="col-lg-7">
      <h1>MANAGERS</h1>
   </div>

   <table class="table table-bordered table-stripped table-hover table-secondary">
      <thead>
         <tr>
            <th scope="col">Email</th>
            <th scope="col">Name</th>
            <th scope="col">Pincode</th>
            <th scope="col" colspan="2">ACTIONS</th>
         </tr>
      </thead>
      <tbody>
         <tr *ngFor="let manager of managers">
            <td scope="row">{{ manager.managerEmail }}</td>
            <td>{{ manager.managerName }}</td>
            <td>{{ manager.managerPincode }}</td>
            <td><button (click)="deleteManager(manager)" class="btn btn-danger btn-lg">Delete</button></td>
            <td><button (click)="updateManager(manager)" class="btn btn-primary btn-lg">Update</button></td>
         </tr>
         <tr *ngIf="updateManagerStatus">
            <td colspan="5">
               <form (ngSubmit)="newManagerUpdates()">
                  <h2>Update Manager Pincode</h2>
                  <div class="form-group">
                     <input type="text" style="width: 30%" class="form-control" name="managerPincode" [(ngModel)]="managerUpdating.managerPincode" placeholder="Enter new pincode" />
                  </div>
                  <button type="submit" class="btn btn-primary btn-lg">Update</button>
               </form>
            </td>
         </tr>
      </tbody>
   </table>
</div>

<!-- ------------------------------------Engineers------------------------------------ -->
<!-- View Engineers -->
<div *ngIf="viewEngineersStatus" class="container" style="width: 70%">
   <br /><br /><br /><br />
   <div class="col-lg-7">
      <h1>ENGINEERS</h1>
   </div>
   <table class="table table-bordered table-stripped table-hover table-secondary">
      <thead>
         <tr>
            <th scope="col">Engineer Email</th>
            <th scope="col">Manager Name</th>
            <th scope="col">ACTIONS</th>
         </tr>
      </thead>
      <tbody>
         <tr *ngFor="let engineer of engineers">
            <td scope="row">{{ engineer.engineerEmail }}</td>
            <td>{{ engineer.engineerName }}</td>

            <td><button (click)="deleteEngineer(engineer)" class="btn btn-danger btn-lg">Delete</button></td>
         </tr>
      </tbody>
   </table>
</div>
<!-- ------------------------------------Customers------------------------------------ -->
<!-- View Customers -->
<div *ngIf="viewCustomersStatus" class="container" style="width: 70%">
   <br /><br /><br /><br />
   <div class="col-lg-7">
      <h1>CUSTOMERS</h1>
   </div>
   <table class="table table-bordered table-stripped table-hover table-secondary">
      <thead>
         <tr>
            <th scope="col">Email</th>
            <th scope="col">Name</th>
            <th scope="col">Mobile</th>
            <th scope="col">Address</th>
            <th scope="col">Pincode</th>
            <th scope="col" colspan="2">ACTIONS</th>
         </tr>
      </thead>
      <tbody>
         <tr *ngFor="let customer of customers">
            <td scope="row">{{ customer.customerEmail }}</td>
            <td>{{ customer.customerName }}</td>
            <td>{{ customer.customerMobile }}</td>
            <td>{{ customer.customerAddress }}</td>
            <td>{{ customer.customerPincode }}</td>

            <td><button (click)="deleteCustomer(customer)" class="btn btn-danger btn-lg">Delete</button></td>
            <td><button (click)="updateCustomer(customer)" class="btn btn-primary btn-lg">Update</button></td>
         </tr>
         <tr *ngIf="updateCustomerStatus">
            <td colspan="7">
               <form (ngSubmit)="newCustomerUpdates()">
                  <h2>Update Customer Pincode</h2>
                  <div class="form-group">
                     <input type="text" style="width: 30%" class="form-control" name="customerPincode" [(ngModel)]="customerUpdating.customerPincode" placeholder="Enter new pincode" />
                  </div>
                  <button type="submit" class="btn btn-primary">Update</button>
               </form>
            </td>
         </tr>
      </tbody>
   </table>
</div>
<!-- ------------------------------------Complaints------------------------------------ -->
<!-- View Complaints -->
<div *ngIf="viewComplaintsStatus" class="container" style="width: 70%">
   <br /><br /><br /><br />
   <div class="col-lg-7">
      <h1>COMPLAINTS</h1>
   </div>
   <table class="table table-bordered table-stripped table-hover table-secondary">
      <thead>
         <tr>
            <th scope="col">Ticket Id</th>
            <th scope="col">Customer Email</th>
            <th scope="col">Complaint</th>
            <th scope="col">Pincode</th>
            <th scope="col">status</th>
            <th scope="col" colspan="2">ACTIONS</th>
         </tr>
      </thead>
      <tbody>
         <tr *ngFor="let complaint of complaints">
            <td scope="row">{{ complaint.ticketId }}</td>
            <td>{{ complaint.customerEmail }}</td>
            <td>{{ complaint.complaint }}</td>
            <td>{{ complaint.pincode }}</td>
            <td>{{ complaint.status }}</td>
            <td><button (click)="deleteComplaint(complaint)" class="btn btn-danger btn-lg">Delete</button></td>

            <td><button (click)="updateComplaint(complaint)" class="btn btn-primary btn-lg">Update</button></td>
         </tr>
         <tr *ngIf="updateComplaintStatus">
            <td colspan="7">
               <form (ngSubmit)="newComplaintUpdates()">
                  <h2>UPDATE COMPLAINT PINCODE</h2>
                  <div class="form-group">
                     <input type="text" style="width: 30%" class="form-control" name="customerEmail" [(ngModel)]="complaintUpdating.customerEmail" placeholder="Enter email" />
                  </div>

                  <div class="form-group">
                     <input type="text" style="width: 30%" class="form-control" name="pincode" [(ngModel)]="complaintUpdating.pincode" placeholder="Enter pincode" />
                  </div>

                  <div class="form-group">
                     <input type="text" style="width: 30%" class="form-control" name="complaint" [(ngModel)]="complaintUpdating.complaint" placeholder="Enter complaint" />
                  </div>

                  <div class="form-group">
                     <input type="text" style="width: 30%" class="form-control" name="status" [(ngModel)]="complaintUpdating.status" placeholder="Enter status" />
                  </div>
                  <button type="submit" class="btn btn-primary btn-lg">Update</button>
               </form>
            </td>
         </tr>
      </tbody>
   </table>
</div>
<!-- ------------------------------------Feedbacks------------------------------------ -->
<!-- view Feedbacks -->
<div *ngIf="viewFeedbacksStatus" class="container" style="width: 70%">
   <br /><br /><br /><br />
   <div class="col-lg-7">
      <h1>FEEDBACKS</h1>
   </div>
   <table class="table table-bordered table-stripped table-hover table-secondary">
      <thead>
         <tr>
            <th style="padding-right: 5px">Feedback Id</th>
            <th style="padding-right: 5px">Ticket Id</th>
            <th style="padding-right: 5px">Customer Email</th>
            <th style="padding-right: 5px">Feedback</th>
            <th scope="col" colspan="2">ACTIONS</th>
         </tr>
      </thead>
      <tbody>
         <tr *ngFor="let feedback of feedbacks">
            <td style="padding-right: 5px" scope="row">{{ feedback.feedbackId }}</td>
            <td style="padding-right: 5px">{{ feedback.ticketId }}</td>
            <td style="padding-right: 5px">{{ feedback.customerEmail }}</td>
            <td style="padding-right: 5px">{{ feedback.feedback }}</td>

            <td><button (click)="deleteFeedback(feedback)" class="btn btn-danger btn-lg">Delete</button></td>
            <td><button (click)="updateFeedback(feedback)" class="btn btn-primary btn-lg">Update</button></td>
         </tr>
         <tr *ngIf="updateFeedbackStatus">
            <td colspan="6">
               <h2>UPDATE FEEDBACK</h2>
               <form (ngSubmit)="newFeedbackUpdates()">
                  <div class="form-group">
                     <input type="text" style="width: 30%" class="form-control" name="ticketId" [(ngModel)]="feedbackUpdating.ticketId" placeholder="Enter ticked Id" />
                  </div>

                  <div class="form-group">
                     <input type="text" style="width: 30%" class="form-control" name="customerEmail" [(ngModel)]="feedbackUpdating.customerEmail" placeholder="Enter email" />
                  </div>

                  <div class="form-group">
                     <input type="text" style="width: 30%" class="form-control" name="feedback" [(ngModel)]="feedbackUpdating.feedback" placeholder="Enter feedback" />
                  </div>

                  <button type="submit" class="btn btn-primary btn-lg">Submit</button>
               </form>
            </td>
         </tr>
      </tbody>
   </table>
</div>
