input {
   width: 50%;
   height: 30px;
   background: none;
}

label {
   font-size: medium;
   font-weight: 500;
}

h1 {
   padding-left: 100px;
   font-weight: bold;
}

button {
   margin-left: 120px;
   border-radius: 5px;
   size: 100px;
}

.clearfix {
   clear: both;
}

th {
   font-size: large;
}

td {
   font-size: medium;
}
table,
th,
td {
   border: 2px solid white;
   text-align: center;
}
input[type='password'] {
   box-sizing: border-box;
   border: 2px solid black;
}
input[type='text'] {
   box-sizing: border-box;
   border: 2px solid black;
}

::placeholder {
   color: black;
   font-size: 1.5em;
}
